<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.3/css/countrySelect.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body{
            background-color: black;
        }
        .leader-board{
            border: 2px solid deeppink;
            padding: 5%;
        }

    </style>
</head>
<body>
    <h2 class="h2 text-center text-danger font-weight-bolder">TITS-FOR-TATS <br></h2>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 profile-div">
                <input type="file" accept="image/*" id="fileInput" style="display: none;" onchange="uploadImage(event)">
                <img id="profileImage" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150" onclick="selectFile()">
                <div class="info d-flex flex-column ">
                    <div class="mt-3 h5 text-light"> USERNAME  </div>
                </div>
            </div>
            
            <div class="col-8">

                <div id="playerMode" class="mt-5">
                    <div class="d-flex justify-content-center leader-board">
                        <div class=" text-light  h2 font-weight-bold ">LEADERBOARD</div> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function selectFile() {
            document.getElementById('fileInput').click();
        }

        function uploadImage(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('profileImage');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        } 
    </script>
</body>
</html>
